# [Server]
SERVER_HOST=
SERVER_PORT=

# [App]
APP_ENV=
APP_PROJECT_NAME=
APP_VERSION=

# [DATABASE]
DATABASE_POSTGRES_DSN=
REDIS_DSN=

#[JWT]
JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_ACCESS_ALGORITHM=
JWT_REFRESH_ALGORITHM=
JWT_ACCESS_EXP_TIME=
JWT_REFRESH_EXP_TIME=

JWT_ACCESS_PUBLIC_KEY=
JWT_REFRESH_PUBLIC_KEY=
